# Python virtual environment
venv/

# Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# SQLite database
site.db

# Flask instance folder (if you use it)
instance/

# Environment variables
.env

# IDE/editor files
.vscode/
*.idea/
*.DS_Store
