body {
  font-family: 'Circular Std', sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('../images/bg.jpg') no-repeat center center/cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin: 0;
}


.auth-container {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  padding: 40px 30px;
  width: 350px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}


.auth-container h2 {
  text-align: center;
  font-size: 28px;
  font-weight: 900;
  margin-bottom: 25px;
  color: #E53935;
}


.auth-container input {
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 20px;
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  font-size: 14px;
  outline: none;
  transition: 0.3s ease;
  box-sizing: border-box;
}

::placeholder {
  color: white;
}

.auth-container input:focus {
  border-color: #E53935;
}


.auth-container button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 30px;
  background: #E53935;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s ease;
}

.auth-container button:hover {
  background: #d32f2f;
}


.auth-container .links {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.auth-container .links a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s ease;
}

.auth-container .links a:hover {
  color: #E53935;
}


.flash {
  text-align: center;
  margin-bottom: 15px;
  font-size: 14px;
  color: #E53935;
}